.new-tweet {
  margin: auto 2em;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #eeeeee;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
}

.new-tweet textarea {
  padding: 5px;
  width: 100%;
}

.new-tweet .counter {
  margin-left: 280px;
  font-style: italic;
}

.maxedOut {
  color: red;
}