#tweetsContainer {
  padding: 1em 0;
}

.tweet {
  margin: auto 2em;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 1em;
}

.tweet:hover {
  border: 1.3px solid black;
}

.tweet header {
  background-color: #eeeeee;
  opacity: 0.6;
  position: relative;
}

.tweet:hover header {
  opacity: 1.0;
}

.userAvatar {
  margin: 0.5em;
}

.userName {
  display: inline;
  vertical-align: 1.5em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.userHandle {
  display: inline;
  vertical-align: 1.5em;
  position: absolute;
  right: 0;
  margin-right: 1em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.tweetText {
  padding: 1em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.tweet footer {
  border-top: 1px solid grey;
  padding: 1em;
  font-size: 75%;
  position: relative;
}

.tweet footer .icons {
  display: none;
}

.tweet:hover footer .icons {
  display: inline;
  color: mediumaquamarine;
  position: absolute;
  right: 0;
  margin-right: 1em;
}
